################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.gitignore
/.vs
/Seitendownload
/progress-var-width.html
/Data-Experimentell
